# Archivos compilados de Python
__pycache__/
*.pyc
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/


# Odoo
filestore/
session/
*.Log

# Configuración de VS Code
.vscode/
.vs/

# Archivos temporales de editores
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db

# Entornos virtuales (opcional)
venv/
env/